<h1>Json Posts</h1>
<div class="row">
 <table class="table table-striped ">
 
<th class="align-right">title</th>
<th>operations</th>
 <% @post.each do |p| %>
 <tr>
 <td align="left">
 <%=p.title%>
 </td>
 <td >
<%= link_to post_path(p), class: "btn btn-small btn-info" do %> 
  <i class="icon-white icon-eye-open"></i>
  Show
<% end %>
<%= link_to edit_post_path(p), class: "btn btn-small btn-warning" do %> 
  <i class="icon-white icon-edit"></i>
  Edit
<% end %>  
<%= link_to post_path(p), class: "btn btn-small btn-danger",method: :delete, data: { confirm: "You sure?"} do %> 
  <i class="icon-white icon-trash"></i>
  Delete
  <% end %>
</td>
</tr>
<% end %>
</table>
</div>
<div class="column" align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to store_path, class:"btn btn-success" do%>
 <i class="icon-white icon-glass"></i>
store new
<% end %>
</div>
