<h1>posts</h1>
<div class="row">
 <table class="table table-condensed">
 
 <% @post.each do |p| %>
 <tr>
 <td>
<%=p.title%>
</td>
 <td>
<%= link_to post_path(p), class: "btn btn-small btn-info" do %> 
  <i class="icon-white icon-eye-open"></i>
  Show
<% end %>
<%= link_to "edit", edit_post_path(p),class: "btn btn-small btn-warning" %>
<%= link_to "delete", post_path(p),class: "btn btn-small btn-danger",method: :delete, data: { confirm: "You sure?" } %>
</td>
</tr>
<% end %>
</table>
</div>
<div class="row">
<%= link_to "store new", store_path, class:"btn btn-success"%>
</div>
