<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>key:</strong>
  <%= @post.key %>
</p>
 <%= link_to "URL", "/#{@post.key}" %>|
 <%= link_to "Edit", edit_post_path(@post) %>|
 <%=link_to "Back", users_path %>
